.messages {
  display: flex;
  justify-content: space-between;
}

.start {
  justify-content: start;
}

.summary-content {
  /* border: 1px solid black; */
  background-color: white;
  flex-basis: 25%;
  position: sticky;
  align-self: flex-start;
  margin-right: 15px;
  border-radius: 5px;
  padding: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}

.main-content {
  /* border: 1px solid black; */
  background-color: white;
  border-radius: 5px;
  padding: 5px;
  box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
  margin-bottom: 20px;
}

.main-container {
  flex-basis: 75%;
}

.welcome {
  background-color: inherit;
}

h1, aside, section, button, p, b, ol, li, form, input, textarea, .post-cont {
  background-color: inherit;
  margin: 0;
}

ul {
  /* display: inline-block; */
  /* text-align: left; */
  margin: 0;
  padding: 0;

  background-color: inherit;
}

/* ul > li > b {
  list-style-position: outside;
  text-align: left;
} */

.inherite {
  background-color: inherit;
}

.post-cont {
  width: 100%;
}

.post-cont textarea {
  width: 100%;
  border: 0;
  outline: 0;
  border-bottom: 1px solid #ccc;
  padding: 5px;
}

/* .text-right {
  justify-content: end;
} */

 /* .post-btn-cont {
  width: 85px;
  padding: 5px;
} */

.post-btn {
  width: 85px;
  height: 25px;
  border-radius: 3px;
}

.time-font {
  font-size: 0.9rem;
  text-align: end;
}

.msg-font {
  font-size: 1.6rem;
  text-align: center;
  margin: 5px;
}

.mt-10px {
  margin-top: 10px;
}

.ml-15px {
  margin-left: 15px;
}

.font-blue {
  color: rgb(112, 112, 112);
}