.slider {
  height: 40px;
  outline: 3px solid green;
  border-radius: 20px;
  position: relative;
}

.thumb {
  background-color: green;
  cursor: pointer;
  width: 40px;
  height: 40px;
  border-radius: 20px;
}

.timer {
  width: 460px;
  height: 460px;
}

.slider.red {
  outline: 2px solid red;
}

.slider.red .thumb {
  background-color: red;
}